.button {
  font-weight: bold;
  padding: 10px;
  border: 0;
  border-radius: 3px;
  color: white;
  background-color: #59b659;
  &.disabled {
    background-color: #cccccc;
    color: #666666;
  }
  &.secondary {
    color: #59b659;
    background-color: white;
    border: 1px solid #59b659;
  }
}
