name: 'Chromatic'

on: pull_request

jobs:
  chromatic-deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
      - name: Configurar .npmrc
        run: |
          echo "@mercedes-benz:registry=https://artifacts.i.mercedes-benz.com/artifactory/api/npm/switch-main-npm-releases/" > .npmrc
          echo "//artifacts.i.mercedes-benz.com/artifactory/api/npm/switch-main-npm-releases/:_authToken=${{ secrets.NPM_MERCEDES_BENZ_TOKEN }}" >> .npmrc
          echo "//artifacts.i.mercedes-benz.com/artifactory/api/npm/switch-main-npm-releases/:always-auth=true" >> .npmrc
          echo "strict-ssl=false" >> .npmrc
      - name: Show .npmrc
        run: cat .npmrc
      - name: Install Dependencies
        run: npm install
      - name: Build Packages
        run: npm run packages:build
      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          buildScriptName: 'storybook:build'
